@font-face {
    font-family: 'alex_brushregular';
    src: url('font/alexbrush-regular-webfont.eot');
    src: url('font/alexbrush-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/alexbrush-regular-webfont.woff2') format('woff2'),
         url('font/alexbrush-regular-webfont.woff') format('woff'),
         url('font/alexbrush-regular-webfont.ttf') format('truetype'),
         url('font/alexbrush-regular-webfont.svg#alex_brushregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('font/SourceSansPro-Regular.eot');
    src: url('font/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('font/SourceSansPro-Regular.woff') format('woff'),
         url('font/SourceSansPro-Regular.ttf') format('truetype'),
         url('font/SourceSansPro-Regular.svg#open_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('font/PTN57F-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/PTN57F-webfont.woff') format('woff'),
         url('font/PTN57F-webfont.ttf') format('truetype'),
         url('font/PTN57F-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sans_narrowregular';
    src: url('font/PTN57F-webfont.eot');
    src: url('font/PTN57F-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/PTN57F-webfont.woff') format('woff'),
         url('font/PTN57F-webfont.ttf') format('truetype'),
         url('font/PTN57F-webfont.svg#pt_sans_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.head3{
    font-family: 'pt_sans_narrowregular';
    font-size:18px;
    font-weight: normal;
    background: #727272;
    color: #fff;
    padding: 5px;
    border-radius:5px;
    -moz-border-radius:5px;
    margin: 0px;
}
